<div class="grosse-card-container">
  <% bigCard.forEach((produit) => { %>

  <div class="img-box shadow-sm">
    <img src="<%= produit.url %>" width="99%" alt="<%= produit.nom %>">
    <i style="position: absolute; right: 10px; z-index: 3; color: rgb(23, 195, 23); font-size: 3rem;" class='bx bxs-cart-add add-to-cart-btn' data-product-id="<%= produit.id %>" data-product-nom="<%= produit.nom %>" data-product-prix="<%= produit.prix %>" data-product-url="<%= produit.url %>" data-product-info="<%= produit.info %>" onclick="addToCart(this)"></i>
  </div>

  <div class="details">
    <p><strong><%= produit.nom %></strong> </p>
    <div class="start-box d-flex">
      <i class='bx bxs-star'></i>
      <i class='bx bxs-star'></i>
      <i class='bx bxs-star'></i>
      <i class='bx bxs-star'></i>
      <i class='bx bxs-star-half'></i>
    </div>
    <span style="color: #A60303;"><%= produit.prix %> CFA</span> <span style="text-decoration: line-through; font-size: 0.9rem;"><%= produit.faux_prix %> CFA</span>
  </div>

  <% }); %>

</div>