<div class="slider-containerVisiter">
    <h3 style="text-align: start; margin-left: 10px;">Electro-menager</h3>
    <div class="sliderVisiter">
      <% electro.forEach((produit) => { %>
      <div class="article-carte">
        <img src="<%= produit.url %>" alt="<%= produit.nom %>">
        <br>
        <p style="text-align: center; text-transform: uppercase;"> <strong> <%= produit.nom %> </strong> </p>
        <span><%= produit.info %></span>
        <div class="prix">
          <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 1.2rem;"><%= produit.prix %> CFA</span>
        </div>
      <button class="add-to-cart-btn" data-product-id="<%= produit.id %>" data-product-nom="<%= produit.nom %>" data-product-prix="<%= produit.prix %>" data-product-url="<%= produit.url %>" data-product-info="<%= produit.info %>" onclick="addToCart(this)">Ajouter</button>
      </div>
      <% }); %>
      <div>
  
      </div>
    </div>