<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="refresh" content="2"> -->
  <meta name="theme-color" content="#293847">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


  <!-- awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- box icon here  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- boostrap here -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/site.webmanifest">
  <!-- mon css here -->
  <link rel="stylesheet" href="/css/produit-list.css">
  <title>Bagues</title>
</head>

<body id="body">

  <%- include('composants/nav.ejs') %>
  <%- include('composants/promo.ejs') %>

    <%- include('composants/nav-desk.ejs') %>
    <%- include('composants/menu-list.ejs') %>

  <%- include('composants/burger-menu.ejs') %>
  <%- include('composants/panier.ejs') %>




  <div class="main">
    <div class="d-flex">
      <a style="text-decoration: none; color: black;" href=" javascript:history.back()">Retour</a> /
      <a style="text-decoration: none; color: black;" href="#">Bagues</a>
    </div>
    <br> <br>
    <h3><strong>Bagues</strong></h3>
    <br> <br>
    <% bague.forEach((produit) => { %>
    <a href="/bague/<%= produit.id %>">
      <div class="carte">
        <div class="card-top">
          <img src="<%= produit.url %>" width="100">
        </div>
        <div class="card-details">
          <span style="color: black; font-weight: 500;"><%= produit.nom %></span></br>
          <span style="color: grey;"><%= produit.info %></span></p>
          <p style="font-size: 0.8rem; color: gray;">Disponible</p>
          <p style="color: rgb(6, 6, 6);margin-top: 10px; font-weight: 600;"><%= produit.prix %> CFA</p>
        </div>
      </div>
    </a>

    <% }); %>

    <br>


  </div>


  <!-- FOOTER ICI  -->
  <%- include('composants/footer.ejs') %>
  <!-- FOOTER ICI  -->



  <!-- boostrap here -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/script/index.js"></script>

</body>



</html>